html {
    background-color: var(--clr-primary);
    font-family: "Roboto", sans-serif;
    color: var(--clr-text-primary);
    font-size: var(--text-index);
}

section.mainContent {
    display: flex;
    flex-direction: column;
    gap: var(--gap-index);
    
    padding: calc(0.5rem + 2vh) calc(0.3rem + 1vw);
}

p {
    color: var(--clr-text-secondary);
}

h6 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.953rem;
}

h3 {
    font-size: 2.441rem;
}

h2 {
    font-size: 3.052rem;
}

h1 {
    font-size: 3.815rem;
}

section.forecast {
    background-color: var(--сlr-secondary);
    border-radius: var(--border-radius-index);

    padding: 0 var(--padding-index-medium);
    padding-bottom: var(--padding-index-medium);
}

section.forecast h3,
section.forecast h4,
section.forecast h5,
section.forecast p {
    margin-top: var(--margin-index-small);
    margin-bottom: var(--margin-index-small);
}