/* form */

form.searchBar {
    background-color: var(--сlr-secondary);
    padding: var(--padding-index-medium);
    border-radius: var(--border-radius-index);
    transition: all var(--transition-medium);
}

form input {
    background-color: transparent;
    border: none;
    color: var(--clr-text-primary);
    min-width: 100%;
    box-sizing: border-box;
    padding-left: calc(0.5rem + 0.1vw);
}

form input::placeholder {
    color: var(--clr-text-primary);
    opacity: 0.9;
}

form input:focus {
    border: none;
    outline: none;
}

form:has(input:focus) {
    box-shadow: 0 0.2rem 0.5rem var(--сlr-secondary);
    transform: translateY(-0.2rem);
}

/* weather preview */ 

section.weatherPreview {
    display: grid;
    grid-template-columns: 1fr 2fr;

    padding-left: calc(0.8rem + 1vw);
    padding-right: calc(0.8rem + 1vw);
}

section.basicInfo h1 {
    margin: 0;
}

section.weatherPreview .prevIcon {
    position: relative;
}

section.weatherPreview .prevIcon img {
    position: absolute;
    top: 0%;
    right: 0%;
}

/* todays forecast */

section.todaysForecast {
    background-color: var(--сlr-secondary);
    border-radius: var(--border-radius-index);

    padding: 0 var(--padding-index-medium);
    padding-bottom: var(--padding-index-medium);
}

section.todaysForecast h3,
section.todaysForecast h4,
section.todaysForecast p {
    margin-top: var(--margin-index-small);
    margin-bottom: var(--margin-index-small);
}

section.todaysForecast h3 {
    margin-bottom: calc(0.5rem + var(--margin-index-small));
}

section.todaysForecast section.forecastContainer {
    display: flex;
    justify-content: flex-start;

    overflow-x: scroll;
}

section.todaysForecast section.forecastContainer .hourForecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.todaysForecast section.forecastContainer .hourForecast:not(:last-of-type) {
    border-right: 0.01rem solid var(--clr-text-secondary);
}